*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    min-height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'montserratregular';
}
main{
    flex-grow: 1;
}


.container{
    max-width: 1110px;
    margin: 0 auto;
    
    
}


/*-----------section delivery---------*/
.delivery{
    background: #212121;
    color:#fff;
}
.delivery .container{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 69px;
}
.delivery h2 { 
    font-size: 30px;
    margin-bottom: 13px;
}
.delivery h2 span {
    font-weight: normal;
}
.delivery p {
    font-size: 21px;
}


/*------------section man-woman------------*/
.man-woman .container{
    display: flex;
    flex-direction: row;
}

.man,
.woman{
    width: 50%;
    padding-top: 60px;
    padding-bottom: 58px;
}

.man-woman h2{
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.man-woman h2 span {
    font-weight: normal;
}

.man-woman a {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #D7B399;
    width: 80px;
    height: 30px;
    margin-top: 40px;
}

.man-woman a:hover,
.man-woman a:focus{
    background-color: #7e583c;
}

.man {
    background: url(../img/man.png) no-repeat;
    background-position-x: right ;
    background-position-y: bottom;
}
.woman {
    padding-left: 35px;
    background: url(../img/woman.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
.man-woman {
    background: linear-gradient(90deg, #F9F6F1 0%, #F9F6F1 50%, #F9E0E0 50%, #F9E0E0 100%);
}

/*-------главное меню сайта---------*/
header{
    min-height: 120px ;
    background-color: #F9F6F1;
    font-family: 'montserratregular'
}
.header-menu{
    min-height: 90px;
}
.section_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;   
}
ul{
    display: flex;
    list-style: none;
}
.mainmenu_list{
    gap: 35px;
    display: flex;
    flex-direction: row;
}
.basket_list{
    gap: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section_wrapper a{
    font-size: 14px;
    color: black;
    text-decoration: none;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.logo h2{
    display: flex;
    flex-direction: row;
}
.meinmenu_item a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}


/*--------section banner-------*/
.slider_item{
    min-height: 564px;
    background: url(../img/first-screen__image.svg) no-repeat right center;
    display: flex;
    padding-top: 166px;
    justify-content: space-between;
}

/*-------section new--------*/
.new .container{
    text-align: center;
    position: relative;
    padding-top: 150px;
    padding-bottom: 103px;
}

.new__title {
    font-size: 36px;
    text-transform: uppercase;
}
.new__btn{
    width: 220px;
    height: 50px;
    background: #D7B399;
    color: #fff;
    border: none;
    text-transform: uppercase;
}
.new__btn:hover,
.new__btn:focus{
    background-color: #7e583c;
}

.catalog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.card{
    position: relative;
    border: 1px solid #D7B399;
    padding: 22px 25px 25px;
}
.card__title{
    font-size: 14px;
    font-weight: 600px;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 71px;
    margin-right: 71px;
}
.card__prace{
    color: #D7B399;
    font-size: 18px;
    font-weight: bold;
}

/*.card:nth-child(2){
    position: fixed;
    top: 200px;
    left: 300px;
}*/

.bi-heart-fill{
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #D7B399;
    z-index: 10;
}
.bi-heart-fill:hover,
.bi-heart-fill:focus{
    fill: #7e583c;
}
.pict{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;

}
